@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 96px;
  }

  body {
    @apply bg-ui-cream text-ui-night;
  }
  
  h1, h2 {
    @apply text-brand-forest;
  }
}

